@model JordanRift.Grassroots.Web.Models.RegisterModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<h1>Great success!</h1>

<p>@Model.FirstName,</p>

<p>Your password has been changed successfully!</p>

<p>If you believe you have received this email in error, you can reset your account's password @Html.ActionLink("here", "Account", "ForgotPassword").</p>