@model JordanRift.Grassroots.Web.Models.PasswordResetModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<h1>Hi there!</h1>
<p><strong>Lost your password?</strong> Just follow the following steps to get your account sorted:</p>
<ol>
    <li><a href="@Model.Url">Click here</a> to return to @OrganizationName's website.</li>
    <li>Copy and paste the activation code below into the form.</li>
    <li>Enter your new password and confirm it.</li>
    <li>Click the submit button and you're good to go.</li>
</ol>
<p><strong>Activation Code: @Model.ActivationPin</strong></p>