@model JordanRift.Grassroots.Web.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<h1>Great success!</h1>

<p>@Model.FirstName,</p>

<p>Your password has been changed successfully!</p>

<p>If you believe you have received this email in error, you can reset your account's password @Html.ActionLink("here", "Account", "ForgotPassword").</p>