@model JordanRift.Grassroots.Web.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<h1>Hooray!</h1>

<p>@Model.FirstName,</p>

<p>You can access your account again! Try logging in with your email address and teh following password:</p>
<p>@Model.Password</p>