@model JordanRift.Grassroots.Web.Models.CauseTemplateDetailsModel

@{
	//
	// Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
	//
	// THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
	// SHAREALIKE 3.0 UNPORTED LICENSE:
	// http://creativecommons.org/licenses/by-nc-sa/3.0/
	//
    ViewBag.Title = "Create New Project Template";
}
@section DocumentHead 
{
	@Html.Partial( "UIForm" )
}
<hgroup>
	<h1>Create New Project Template</h1>
</hgroup>
<div id="edit-form">
	@using (Html.BeginForm(new { Action = "NewCauseTemplate", Controller = "Admin" } )) { 
		@Html.Partial("CauseTemplateForm", Model)
    }
</div>
