@model JordanRift.Grassroots.Framework.Entities.Models.Organization
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Index";
}

<hgroup>
    <h1>Administrative Dashboard</h1>
</hgroup>
<section>
    @Html.Action("ProgressBar", new { controller = "Home" })
</section>
<section class="admin-dashboard">
    <ul class="column">
        <li><a href="@Url.Action("EditOrganization")">Application Settings</a></li>
        <li><a href="@Url.Action("List", "Admin/Project" )">Manage Project Types</a></li>
        <li><a href="@Url.Content("~/elmah.axd")" target="_blank">Error Messages</a></li>
    </ul>

    <ul class="column">
        <li>Manage Campaigns</li>
        <li>Manage Users</li>
        <li>Manage Projects</li>
    </ul>
</section>