@model JordanRift.Grassroots.Framework.Entities.Models.Organization
@{
    //
    // Copyright © 2011 Jordan Rift, LLC - All Rights Reserved
    //
    // THIS WORK IS LICENSED UNDER A CREATIVE COMMONS ATTRIBUTION-NONCOMMERCIAL-
    // SHAREALIKE 3.0 UNPORTED LICENSE:
    // http://creativecommons.org/licenses/by-nc-sa/3.0/
    //
    
    ViewBag.Title = "Index";
}

<hgroup>
    <h1>Administrative Dashboard</h1>
</hgroup>
<section>
    @Html.Action("ProgressBar", new { controller = "Home" })
</section>

<ul class="column">
    <li><a href="@Url.Action("EditOrganization")">Application Settings</a></li>
    <li><a href="@Url.Action("CauseTemplateList")">Manage Project Types</a></li>
    <li><a href="@Url.Content("~/elmah.axd")" target="_blank">Error Messages</a></li>
</ul>

<ul class="column">
    <li>Manage Campaigns</li>
    <li>Manage Users</li>
    <li>Manage Projects</li>
</ul>