<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
  </configSections>
  <elmah>
    <security allowRemoteAccess="true" />
    <!-- MS SQL Elmah Error Log -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="GrassrootsContext" />
    <!-- 
        Uncomment below for MySQL Elmah error log
        ** Make sure to uncomment/configure MySQL connection string below.
    <errorLog type="Elmah.MySqlErrorLog, Elmah" connectionStringName="GrassrootsContext" /> -->
  </elmah>
  <dotless minifyCss="false" cache="false" />
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="JordanRift.Grassroots.Web.Helpers" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <connectionStrings>
    <!-- MS SQL Connection -->
    <add name="GrassrootsContext" connectionString="Data Source=(local);Initial Catalog=Grassroots;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!-- 
        Uncomment below for MySQL database connection 
        ** In order to use MySQL with Grassroots, MySQL Connector for .NET v6.3.6 needs to be installed on the server.
        ** Current version of MySQL Connector for .NET is 6.3.6 http://dev.mysql.com/downloads/connector/net/ -->
    <!--<add name="GrassrootsContext" connectionString="Server=localhost; Database=grassroots; Uid=grassrootsuser; Pwd=secret;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RepositoryTestMode" value="false" />
    <!-- Note: Possible values include "Http" & "InMemory" -->
    <add key="CacheType" value="Http" />
    <!-- Uncomment the IFileSaveService for S3FileSaveService below if you want to save your images to Amazon S3.  You will need
				** For Amazon S3, you will need to supply your AWSAccessKey, AWSSecretKey and a AWSBucketName
		-->
    <add key="FileStorageType" value="FileSystem" />
    <!-- 
		<add key="FileStorageType" value="S3" />
		<add key="AWSAccessKey" value="xxxxxxxxxxxxxxxxxxxxxxxxxx" />
		<add key="AWSSecretKey" value="xxxxxxxxxxxxxxxxxxxxxxxxxx" />
		<add key="AWSBucketName" value="xxxxxxxxxxxxxxxxxxxxxxxxxx"/>
		-->
  </appSettings>
  <!-- Uncomment below <system.data> section to use MySQL -->
  <!--<system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.3.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>-->
  <system.web>
    <!--<trust level="Rackspace" />-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <!-- Uncomment assembly definitions below to use MySQL -->
        <!--<add assembly="MySql.Data, Version=6.3.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        <add assembly="MySql.Data.Entity, Version=6.3.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        <add assembly="Mysql.Web, Version=6.3.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />-->
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership defaultProvider="GrassrootsMembershipProvider">
      <providers>
        <clear />
        <add name="GrassrootsMembershipProvider" type="JordanRift.Grassroots.Framework.Entities.Membership.GrassrootsMembershipProvider, JordanRift.Grassroots.Framework" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" connectionStringName="GrassrootsContext" applicationName="/Grassroots" />
      </providers>
    </membership>
    <profile enabled="false">
      <providers>
        <clear />
        <!--<add name="GrassrootsProfileProvider" 
             type="JordanRift.Grassroots.Framework.Entities.Membership.GrassrootsProfileProvider, JordanRift.Grassroots.Framework" 
             connectionStringName="GrassrootsContext" 
             applicationName="/Grassroots" />-->
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="GrassrootsRoleProvider">
      <providers>
        <clear />
        <add name="GrassrootsRoleProvider" type="JordanRift.Grassroots.Framework.Entities.Membership.GrassrootsRoleProvider, JordanRift.Grassroots.Framework" connectionStringName="GrassrootsContext" applicationName="/Grassroots" />
      </providers>
    </roleManager>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect" defaultRedirect="/Error">
      <error statusCode="403" redirect="/Error/Forbidden " />
      <error statusCode="404" redirect="/Error/NotFound" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
  </system.web>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </modules>
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
    <!--<rewrite>
      <rules>
        <rule name="CanonicalHostName" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{C:2}{PATH_INFO}" redirectType="Permanent" appendQueryString="true" />
        </rule>
        <rule name="RemoveTrailingSlash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="LowerCaseUrls" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elmah" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13605.0" newVersion="1.2.13605.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.6.0" newVersion="6.3.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- TODO: These settings will need to be configured during app install. Consider automation via install script. -->
  <facebookSettings appId="225132917497251" appSecret="3a3d9b77b44968c049ed444907c69b52" />
  <system.net>
    <mailSettings>
      <!-- Method#1: Configure smtp server credentials -->
      <smtp from="info@jordanrift.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="info@jordanrift.com" password="Proverbs11:25" />
      </smtp>
      <!-- Method#2: Dump emails to a local directory -->
      <!--
			<smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
				<network host="localhost" />
				<specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
			</smtp>
			-->
    </mailSettings>
  </system.net>
</configuration>