<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
  </configSections>
  <elmah>
    <security allowRemoteAccess="true" />
    <!--
        Use to log errors into separate XML files that are stored on 
        disk at the path specified in the logPath attribute.
        -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="GrassrootsContext" />
  </elmah>
  <dotless minifyCss="false" cache="false" />
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="JordanRift.Grassroots.Web.Helpers" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="GrassrootsContext" connectionString="Data Source=(local);Initial Catalog=Grassroots;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IOrganizationRepository" value="JordanRift.Grassroots.Framework.Data.OrganizationRepository,JordanRift.Grassroots.Framework" />
    <add key="IUserProfileRepository" value="JordanRift.Grassroots.Framework.Data.UserProfileRepository,JordanRift.Grassroots.Framework" />
    <add key="ICampaignRepository" value="JordanRift.Grassroots.Framework.Data.CampaignRepository,JordanRift.Grassroots.Framework" />
    <add key="IUserRepository" value="JordanRift.Grassroots.Framework.Data.UserRepository,JordanRift.Grassroots.Framework" />
    <add key="IRoleRepository" value="JordanRift.Grassroots.Framework.Data.RoleRepository,JordanRift.Grassroots.Framework" />
    <add key="ICauseTemplateRepository" value="JordanRift.Grassroots.Framework.Data.CauseTemplateRepository,JordanRift.Grassroots.Framework" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership defaultProvider="GrassrootsMembershipProvider">
      <providers>
        <clear />
        <add name="GrassrootsMembershipProvider" type="JordanRift.Grassroots.Framework.Entities.Membership.GrassrootsMembershipProvider, JordanRift.Grassroots.Framework" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" connectionStringName="GrassrootsContext" applicationName="/Grassroots" />
      </providers>
    </membership>
    <profile enabled="false">
      <providers>
        <clear />
        <!--<add name="GrassrootsProfileProvider" 
             type="JordanRift.Grassroots.Framework.Entities.Membership.GrassrootsProfileProvider, JordanRift.Grassroots.Framework" 
             connectionStringName="GrassrootsContext" 
             applicationName="/Grassroots" />-->
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="GrassrootsRoleProvider">
      <providers>
        <clear />
        <add name="GrassrootsRoleProvider" type="JordanRift.Grassroots.Framework.Entities.Membership.GrassrootsRoleProvider, JordanRift.Grassroots.Framework" connectionStringName="GrassrootsContext" applicationName="/Grassroots" />
      </providers>
    </roleManager>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect" defaultRedirect="/Error">
      <error statusCode="403" redirect="/Error/Forbidden " />
      <error statusCode="404" redirect="/Error/NotFound" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
  </system.web>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Administrator" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </modules>
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
    <!--<rewrite>
      <rules>
        <rule name="CanonicalHostName" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{C:2}{PATH_INFO}" redirectType="Permanent" appendQueryString="true" />
        </rule>
        <rule name="RemoveTrailingSlash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="LowerCaseUrls" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- TODO: These settings will need to be configured during app install. Consider automation via install script. -->
  <facebookSettings appId="162297500491535" appSecret="92fff3c878a040f1e7ae64fbc46f6ff6" />
  <system.net>
    <mailSettings>
      <!-- Method#1: Configure smtp server credentials -->
      <smtp from="some-email@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="some-email@gmail.com" password="password" />
      </smtp>
      <!-- Method#2: Dump emails to a local directory -->
      <!--
			<smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
				<network host="localhost" />
				<specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
			</smtp>
			-->
    </mailSettings>
  </system.net>
</configuration>