@model IEnumerable<JordanRift.Grassroots.Web.Models.CampaignDetailsModel>

@if (Model != null && Model.Count() > 0) {
<ul class="campaign-list">
    @foreach (var campaign in Model) {
    <li>@Html.ActionLink(campaign.Title, "Index", new { controller = "Campaign", slug = campaign.UrlSlug }, new { title = campaign.Title })</li>
    }
</ul>
    }