@model IEnumerable<JordanRift.Grassroots.Web.Models.CampaignDetailsModel>
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
}
@if (Model != null && Model.Count() > 0) {
<table class="campaign-list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Currently Active?</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var campaign in Model) {
            var cssClass = campaign.IsActive ? "active" : "closed";
            var activeText = campaign.IsActive ? "Active" : "Closed";
        <tr class="@cssClass">
            <td class="title">@Html.ActionLink(campaign.Title, "Index", new { controller = "Campaign", slug = campaign.UrlSlug }, new { title = campaign.Title })</td>
            <td>@Html.ActionLink(activeText, "Index", new { controller = "Campaign", slug = campaign.UrlSlug }, new { title = activeText })</td>
        </tr>
        }
    </tbody>
</table>
}