@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    Layout = null;
}

<div>
    @FooterHtml
</div>
<aside class="copyright">
    <p>
        @Html.ActionLink("Terms & Conditions", "Terms", new { controller = "Home", area = "" }, new { title = "Terms &amp; Conditions" })<br />
        &copy; Copyright @OrganizationName @DateTime.Now.Year.<br />
        All rights reserved.<br />
        Powered by <a href="http://projectgrassroots.com" title="Grassroots" target="_blank">Grassroots</a>, 
        a <a href="http://jordanrift.com" title="Jordan Rift" target="_blank">Jordan Rift</a> venture.
    </p>
</aside>