                <ul id="menu">              
                    <li>@Html.ActionLink("Home", "Index", new { Controller = "Home", Area = "" })</li>
                    <li>@Html.ActionLink("Projects", "Projects", new { Controller = "Home", Area = "" })</li>
                    <li>@Html.ActionLink("About", "About", new { Controller = "Home", Area = "" })</li>
                    <li class="im-new">@Html.ActionLink("Click here to get started!", "LogOn", new { Controller = "Account", Area = "" })</li>
                </ul>