@model JordanRift.Grassroots.Web.Models.ProgressBarModel
@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        setTimeout("Grassroots.progressbar();", 1500);
    });
</script>
<div id="progress">
    <h3><span class="label">@Model.GoalName:</span> @Model.Amount.ToString("C")</h3>
    <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: @Model.Percent%;"></div>
    </div>
    <div class="progress-indicator">@Model.Percent%</div>
</div>