@{
    Layout = null;
    var urlToLike = ViewBag.UrlToLike ?? Url.Abs(@Request.RawUrl);
}

<a href="javascript:Grassroots.tweet('@urlToLike')"><img src="@Url.Content("~/Content/images/tweetn.png")" alt="Tweet this" height="20" width="55" /></a>