@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    Layout = null;
    var urlToLike = ViewBag.UrlToLike ?? Url.Abs(@Request.RawUrl);
}

<div class="twitter-vertical">
    <div class="count"><a href="http://twitter.com/search?q=@urlToLike">0</a></div>
    <a rel="nofollow" href="javascript:Grassroots.tweet('@urlToLike')" class="tweet">Tweet</a>
    <script type="text/javascript">
        $(function () {
            Grassroots.getTweetCount("@urlToLike");
        });
    </script>
</div>