@model JordanRift.Grassroots.Web.Models.CampaignDetailsModel
@using JordanRift.Grassroots.Web.Models
@{
	//
	// Grassroots is free software: you can redistribute it and/or modify
	// it under the terms of the GNU General Public License as published by
	// the Free Software Foundation, either version 3 of the License, or
	// (at your option) any later version.
	// 
	// Grassroots is distributed in the hope that it will be useful,
	// but WITHOUT ANY WARRANTY; without even the implied warranty of
	// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	// GNU General Public License for more details.
	// 
	// You should have received a copy of the GNU General Public License
	// along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
	//
}
	<section class="summary share-campaign">
		<img src="@Model.ImagePath" alt="@Model.Title" class="campaign-img" /> <!-- Yo Jason, this is too large, how about 250x250ish -->
		<aside class="foobar" style="float: right">  <!-- Yo Jason!!  I've put float: right; in here just so you know my intention with this layout -->
			@if ( !Model.CurrentUserIsOwner ) {
				@Html.ActionLink( "I want my own campaign", "GetStarted", new { Controller = "Campaign", Area = "" }, new { Title = "Click here go start your own campaign", @class = "ui-button ui-corner-all" } )
			}
		</aside>
		<div class="campaign-closed">
			@Html.Raw( Model.InstructionsClosedHtml )
		</div>
	</section>
