@{
    ViewBag.Title = "Get Started";
}

<hgroup>
    <h1>Get Started</h1>
    <h3>Tell us about the campaign you are starting...</h3>
</hgroup>

<!-- TODO: Prompt user to select cause template by clicking on an image, and select campaign type by clicking on an image -->