@model JordanRift.Grassroots.Web.Models.DeactivateModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}    
<h1>Sorry to see you go!</h1>
<p>This email confirms your profile has been deactivated.</p>
<p>Please stay connected through our <a href="@Model.FacebookUrl">Facebook page</a>, 
<a href="@Model.TwitterUrl">Twitter account</a> and our <a href="@Model.BlogUrl">blog</a>.</p>
<p>-- @OrganizationName</p>