@model JordanRift.Grassroots.Web.Models.UserProfileDetailsModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}    
<h1>Sorry to see you go @Model.FirstName!</h1>
<p>We keep your information on file for two reasons:</p>
<ol>
    <li>Just in case you decide to come back.</li>
    <li>For tax filing purposes. All donations you made during your stay are tax deductible.</li>
</ol>