@model JordanRift.Grassroots.Web.Models.UserProfileDetailsModel
           
<h1>Sorry to see you go @Model.FirstName!</h1>
<p>We keep your information on file for two reasons:</p>
<ol>
    <li>Just in case you decide to come back.</li>
    <li>For tax filing purposes. All donations you made during your stay are tax deductible.</li>
</ol>