@model JordanRift.Grassroots.Web.Models.UserProfileDetailsModel

@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Deactivate Your Account";
}

<hgroup>
    <h1>Say it ain't so!</h1>
    <h3>We hope to see you back soon!</h3>
</hgroup>
<section id="deactivate-form">
    @using (Html.BeginForm("Deactivate", "UserProfile")) {
        <p>We're sorry you have to go. We won't delete your account. It'd just be mean, and we actually need to hang
        onto it for tax reporting purposes. <strong>Are you sure you have to go?</strong></p>
        
        <div>
            @Html.UiSubmit("Yes, deactivate my account")
            @Html.ActionLink("Cancel", "Index", new { controller = "UserProfile", area = "" }, new { title = "Cancel", @class="cancel" })
        </div>
    }
    <div class="break"></div>
</section>