@model IEnumerable<JordanRift.Grassroots.Web.Models.CauseDetailsModel>
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Index";
}

    <h2>Projects</h2>

@if ( Model.Count() > 0 ) {
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Build Date
            </th>
            <th>
                Area
            </th>
        </tr>

	@foreach ( var item in Model ) { 
		<tr>
			<td>
				@Html.ActionLink( item.Name, "Index", new { controller = "Cause" }, new { title = item.Name } )
			</td>
			<td>
				@String.Format( "{0:MM/dd/yy}", item.DateCompleted ) 
			</td>
			<td>
			@if ( item.Region != null ) {
				@item.Region.Name;
			}
			</td>
		</tr>
	}
	
    </table>
}
else
{ 
	<i>this person has no projects yet</i>
}
