@model JordanRift.Grassroots.Web.Models.UserProfileDetailsModel

@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //
    
    ViewBag.Title = "Reactivate Your Account";
}

<hgroup>
    <h1>Is it really true?</h1>
    <h3>You're coming back!</h3>
</hgroup>
<section id="reactivate-form">
    @using (Html.BeginForm("Reactivate", "UserProfile")) {
        @Html.AntiForgeryToken("UserProfileReactivate")
        <p>Sweet! We knew you'd come back eventually. We even kept all your stuff just the way you left it.</p>
        
        <div>
            @Html.UiSubmit("Reactivate my account")
            @Html.ActionLink("Cancel", "Index", new { controller = "UserProfile", area = "" }, new { title = "Cancel" })
        </div>
    }
</section>