@model JordanRift.Grassroots.Web.Models.DonationDetailsModel
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<h1>Woohoo!</h1>

<p>Greetings!</p>

<p><strong>@Model.FirstName @Model.LastName</strong> just made a donation of <strong>@Model.Amount</strong> on your behalf!</p>

<p>Thought you'd like to know!</p>