@model JordanRift.Grassroots.Framework.Entities.Payment

<h1>Wow! Thanks!</h1>

<p>Dear @Model.FirstName @Model.LastName,</p>

<p>Thank you so much for your generous donation of <strong>@Model.Amount</strong>!</p>

<p>Your payment has been approved and received as of @Model.DonationDate.ToLongDateString(). Please keep a copy of this email as your receipt.</p>

<p>Thanks again!</p>