//
// Grassroots is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// Grassroots is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
//

.light-green {
	color: #cbe86b;
}

.medium-green {
	color: #8ccc8e;
}

.dark-green {
	color: #495a5a;
}

.hilight {
	color: #ffff9d;
}

.light-gray {
	color: #e5e5e5;
}

.medium-gray {
	color: #999999;
}

.button-style {
	cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
	padding: 0.4em 1em !important;
	color: #354242 !important;
	background: url("images/ui-bg_highlight-hard_75_cbe86b_1x100.png") repeat-x scroll 50% 50% #CBE86B;
	border: 1px solid #B6D060;
}

.button-active {
	background: url("images/ui-bg_inset-soft_75_ffff9d_1x100.png") repeat-x scroll 50% 50% #FFFF9D;
	border: 1px solid #E8E888
}

.header-style {
	.dark-green;
	font-size: 48px;
}

.round-corners {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.nav-style {
	.hilight;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

.transparent {
	opacity: 0;
	filter: alpha(opacity=0);
}

::selection {
	background: #c0da65;
}

::-moz-selection {
	background: #c0da65;
}

::-webkit-selection {
	background: #c0da65;
}

body {
	background: #000000 url("images/gradient-top.jpg") repeat-x;
	font-family: Helvetica, Arial, sans-serif;
	.dark-green;
	font-size: 14px;
	line-height: normal;
}

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

header {
	width: 980px;
	height: 167px;
	margin: 0px 0px -20px 10px;
	display: block;
	position: relative;
	background: url("images/banner-top.png") no-repeat;
	background-position: center bottom;
	color: #cbe86b;
}

	header h1 {
		width: 490px;
		height: 103px;
		text-indent: -2000px;
		overflow: hidden;
		display: block;
		background: url("images/logo.png") no-repeat;
	}

	header h2 {
		font-size: 25px;
		margin: 10px 0px 0px 28px;
	}

	header section.user-info {
		position: absolute;
		top: 15px;
		right: 20px;
		font-size: 14px;
		.light-green;
	}

		.user-info a {
			.hilight;
			text-decoration: none;
		}

	header nav {
		position: absolute;
		right: 15px;
		top: 88px;
	}
		
		#menu li {
			display: inline;
			padding: 0px 5px;
		}

			#menu li a {
				.nav-style;
			}

#main a {
	.medium-green;
	text-decoration: none;
}

#main a:hover {
	text-decoration: underline;
}

#main h1 {
	.header-style;
}

#main > hgroup,
#main form hgroup {
	margin-top: 20px;
	height: 130px;
	background: url("images/heading-corner.png") no-repeat left top;
	position: relative;
	left: -41px;
	padding-left: 10px;
}

#main hgroup.campaign {
	height: 90px;
	float: none;
	clear: both;
}

	#main > hgroup > h1,
	#main form hgroup > h1 {
		background: url("images/heading-bg.png") no-repeat right top;
		height: 72px;
		display: inline-block;
		*display: block;
		width: auto;
		padding: 7px 70px 0px 20px;
	}

	#main > hgroup > h3 {
		.dark-green
	}

		#main > hgroup > h3 a {
			.medium-green;
		}

#main h2 {
	font-size: 24px;
	padding-bottom: 10px;
	.medium-green;
}

	#main h2 a:hover, #main h3 a:hover {
		text-decoration: none;
	}

#main h3 {
	font-size: 20px;
	.medium-green;
}

	#main form fieldset h3 {
		.medium-gray;
		font-size: 18px;
		padding: 0px 0px 10px;
	}

	#main > hgroup > h3 {
		margin-left: 41px;
		margin-top: 5px;
	}

	#main h3 .label {
		.dark-green;
	}

	#main #progress {
		position: relative;
		margin: 0px 0px 30px 0px;
	}

	#main .dashboard > #progress {
		width: 668px;
		float: left;
		margin: 30px 0px;
	}

	#main .campaign-dashboard > #progress {
		width: 100%;
		float: none;
	}

		#progressbar {
			margin-top: 5px;
			position: relative;
		}

		.progress-indicator {
			position: absolute;
			border-left: 1px solid #495a5a;
			height: 15px;
			margin-left: 1px;
			padding: 35px 0px 0px 5px;
			top: 30px;
			.transparent;
		}

		.goal-start, .goal-complete {
			float: left;
			font-size: 12px;
			.medium-gray;
		}

		.goal-complete {
			float: right;
		}

		.ui-progressbar-value {
			display: none;
		}

	#main .dashboard > .donate {
		width: 156px;
		text-align: center;
		float: left;
		margin: 60px 0px 30px 40px;
	}

		.dashboard .donate > .ui-button {
			width: 167px;
			margin-right: 0px;
		}

			.stats > li,
			#main .get-started .projects li {
				background: #e5e5e5;
				.round-corners;
				.medium-gray;
				width: 194px;
				border: 1px solid #cccccc;
			}

				.stats > li > span {
					.dark-green;
				}

	#main table thead tr {
		border-bottom: 1px solid #cccccc;
	}

		#main table th {
			.medium-gray;
		}

	#main table tbody tr {
		border-top: 1px dotted #cccccc;
	}

	#main table tbody tr:first-child {
		border-top: none;
	}

#main .summary,
#main .share-campaign,
#main .donations  {
	.round-corners;
	background: #e5e5e5;
	border: 1px solid #cccccc;
}

#main > .feeds {
	margin-top: 30px;
}

	#main .tweets li {
		display: block;
		position: relative;
		clear: both;
		float: none;
		padding: 10px 0px;
	}

		.tweets li img {
			display: block;
			float: left;
			margin: 0px 10px 5px 0px;
		}

		.tweets li .meta {
			color: #999999;
			font-size: 12px;
			font-weight: bold;
			float: right;
		}

	#main .user-info table .heading {
		.dark-green
	}

	#main .user-info table td {
		.medium-gray;
	}

	#main .user-info aside h3 {
		.medium-gray;
		font-size: 16px;
	}

	#main .user-info > .user-dashboard li {
	}

		#main .user-info > .user-dashboard a {
			.button-style;
			.round-corners;
			width: 130px;
			padding: 0.4em 0em !important;
		}

		#main .user-info > .user-dashboard a:hover {
			.button-active;
		}

	#main .user-info aside ul {
		background: #e5e5e5;
		.round-corners;
		.medium-gray;
		border: 1px solid #cccccc;
		font-size: 14px;
	}

		#main .user-info aside > ul > li > span {
			.dark-green;
			font-size: 18px;
		}

		#main .get-started .projects > p,
		#main .get-started .campaign-types > p {
			font-size: 18px;
			font-weight: bold;
			.medium-gray;
		}

			#main .get-started .projects .selected,
			#main .get-started .campaign-types .selected {
				.button-active;
				background-position: left bottom;
			}

			#main .get-started .projects a {
				.dark-green;
			}

			#main .get-started .projects a:hover,
			#main .get-started .campaign-types a:hover {
				text-decoration: none;
			}

			.get-started .campaign-types li {
				.dark-green;
				.round-corners;
				background: #e5e5e5;
				border: 1px solid #cccccc;
				font-size: 14px;
			}

				.get-started .campaign-types #birthday a {
					background: url(images/birthday.png) no-repeat center 80px;
				}

				.get-started .campaign-types #birthday.selected a {
					background: url(images/birthday-hover.png) no-repeat center 80px;
				}

				.get-started .campaign-types #sports a {
					background: url(images/sports.png) no-repeat center 80px;
				}

				.get-started .campaign-types #sports.selected a {
					background: url(images/sports-hover.png) no-repeat center 80px;
				}

				.get-started .campaign-types #groups a {
					background: url(images/group.png) no-repeat center 80px;
				}

				.get-started .campaign-types #groups.selected a {
					background: url(images/group-hover.png) no-repeat center 80px;
				}

				.get-started .campaign-types #other a {
					background: url(images/other.png) no-repeat center 80px;
				}

				.get-started .campaign-types #other.selected a {
					background: url(images/other-hover.png) no-repeat center 80px;
				}

					.get-started .campaign-types li strong {
						font-size: 24px;
						.dark-green;
					}


footer {
	width: 920px;
	height: 135px;
	background: url("images/footer-bg.png") no-repeat;
	display: block;
	margin: -14px 0px 0px 11px;
	padding: 30px;
	float: none;
	clear: both;
}

	footer aside {
		float: right;
		font-size: 12px;
		text-align: right;
		margin-left: 28px;
		.medium-gray;
	}

		footer aside a {
			.light-green;
			text-decoration: none;
		}

		footer aside a:hover {
			text-decoration: underline;
		}

form > div
{
	clear: both;
	float: none;
	padding: 20px 0px;
}

	form > div > input,
	form > div > button,
	form > div > a {
		margin: 10px 20px 10px 0px;
	}

	form > div > a {
		margin-left: 20px;
	}

a.ui-button {
	.button-style;
}

a.ui-button:hover {
	.button-active;	
}

.ui-state-focus {
	-moz-box-shadow: 0px 0px 5px 1px #999;
	-webkit-box-shadow: 0px 0px 5px 1px #999;
	box-shadow: 0px 0px 5px 1px #999;
}

body > .ui-dialog {
	-moz-box-shadow: 0px 0px 10px 1px #333;
	-webkit-box-shadow: 0px 0px 10px 1px #333;
	box-shadow: 0px 0px 10px 1px #333;
}

.wijmo-dropdown-label {
	.dark-green;
}

#main .wijmo-wijgrid-headertext {
	.medium-gray;
	font-weight: bold
}

#main .wijmo-wijgrid-headertext:hover {
	text-decoration: none;
}

#main .wijmo-wijgrid tr.wijmo-wijgrid-row td {
	border-width: 1px 0px;
}

#main .wijmo-wijgrid {
	.round-corners;
}

#main .wijmo-wijgrid .wijmo-wijgrid-header, 
#main .wijmo-wijgrid .wijmo-wijgrid-footer {
	border: none !important;
}