::selection {
  background: #c0da65;
}
::-moz-selection {
  background: #c0da65;
}
::-webkit-selection {
  background: #c0da65;
}

body, html
{
	background: #000000;
	color: #444444;
}

a
{
	text-decoration: none;
}