@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('League_Gothic-webfont.eot');
    src: url('League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('League_Gothic-webfont.woff') format('woff'),
         url('League_Gothic-webfont.ttf') format('truetype'),
         url('League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection {
  background: #659C41;
  color: #f1f1f1;
}
::-moz-selection {
  background: #659C41;
  color: #f1f1f1;
}
::-webkit-selection {
  background: #659C41;
  color: #f1f1f1;
}

body, html
{
	background: #000000 url(images/pano-new.jpg) no-repeat;
	background-position: center top;
	color: #444444;
	font-family: Helvetica, Arial, Sans-Serif;
}

a {
	text-decoration: none;
	color: #CCFF99;
}

h2, h3 {
    font-family: Georgia, "Times New Roman";
}

a:hover {
    text-decoration: underline;
}

    header {
		position: relative;
		float: none;
		height: 260px;
		z-index: 3;
		margin: 0px auto;
	}

        header > hgroup > h1 {
	        display: block;
	        margin: 168px 0px 0px 40px;
	        width: 254px;
	        height: 50px;
	        float: left;
	        position: relative;
	        background: url(images/web-logo.png) no-repeat;
	        text-indent: -2000px;
	        overflow: hidden;
        }

        header > hgroup > h2 {
            display: none;
        }
        
        header > .user-info {
            color: #fff;
            top: 120px;
            right: 45px;
        }
        
        header nav {
			display: block;
			position: absolute;
			top: 165px;
			right: 25px;
		}
		
		    #menu li {
		        display: block;
		        float: left;
		        padding: 0px;
		    }
		
		        #menu li a {
		            color: #999;
				    font-family: 'LeagueGothicRegular', Impact, Arial, sans-serif;
				    font-size: 26px;
				    text-transform: uppercase;
				    padding: 15px 20px 10px;
				    display: block;
		        }
		    
		        #menu li a:hover {
					background: #f1f1f1;
					color: #659C41;
					text-decoration: none;
				}
				
    #main {
        color: #f1f1f1;
    }
    
        #main hgroup {
            padding: 20px 0px 30px;
        }
        
            #main hgroup h3 em {
                font-style: normal;
                color: #659C41;
            }
    
        #main h1 {
            font: 40px 'LeagueGothicRegular', Impact, Arial, sans-serif;
            letter-spacing: 0;
		    color: #659C41;
		    text-transform: uppercase;
		    display: block;
		    float: none;
		    padding-top: 15px;
        }
        
        #main h2 > a:hover {
            text-decoration: none;
        }
    
            .stats > li,
			#main .get-started .projects li,
			.steps > li {
				border-radius: 10px;
				-mox-border-radius: 10px;
				-webkit-border-radius: 10px;
				-khtml-border-radius: 10px;
				-ms-border-radius: 10px;
				width: 194px;
				border: 1px solid #333333;
		        background: url(images/panel-bg.jpg) repeat-x;
			}
			
			.stats > li,
			#main .stats > li > a,
			#main .stats > li > a:hover,
			#main .get-started .projects li {
				color: #555;
				text-decoration: none;
			}

				.stats > li span {
					color: #f1f1f1;
					font-family: Georgia, "Times New Roman";
				}
				
				#campaign-edit-form .stats > li .field-validation-error span {
				    color: #222;
				    font-family: Helvetica, Arial, Sans-Serif;
				}

#progressbar {
    border: 1px solid #333;
}

    .ui-progressbar-value {
        background: #ffd6a0 url(images/ui-bg_inset-soft_20_ffd6a0_1x100.png) 50% 50% repeat-x;
        border: 1px solid #B68E68;
    }
    
    #progress .label,
    #progress .goal-start,
    #progress .goal-complete {
        color: #444;
    }
    
#main .dashboard > .donate {
    margin-top: 59px;
}

#main .info .before-after {
	display: block;
	width: auto;
	clear: both;
	float: none;
	height: 120px;
}

	#main .info .before-after > li {
		display: block;
		float: left;
		width: 200px;
		text-align: center;
	}

		.before-after > li > label {
			display: block;
			text-align: center;
			color: #777;
		}

		.before-after > li > img {
			display: block;
			margin: 5px auto 0px;
		}

a.ui-button,
.links a,
.button-style {
	cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
	padding: 0.5em 1em !important;
	color: #f1f1f1 !important;
	background: url("images/ui-bg_highlight-hard_20_528f00_1x100.png") repeat-x #CBE86B;
	border: 1px solid #B6D060;
	height: 1.3em;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-ms-border-radius: 6px;
}

.ui-button:hover,
.links a:hover {
    background: #FFD6A0 url("images/ui-bg_inset-soft_20_ffd6a0_1x100.png") repeat-x;
    color: #000 !important;
    border: 1px solid #B68E68;
}

input[type='text'].ui-state-focus, 
input[type='text'].ui-state-active, 
input[type='text'].ui-state-hover,
input[type='password'].ui-state-focus, 
input[type='password'].ui-state-active, 
input[type='password'].ui-state-hover,
textarea.ui-state-focus, 
textarea.ui-state-active, 
textarea.ui-state-hover,
textarea.ui-state-focus, 
textarea.ui-state-active, 
textarea.ui-state-hover,
.wijmo-wijdropdown .ui-state-focus, 
.wijmo-wijdropdown .ui-state-active, 
.wijmo-wijdropdown .ui-state-hover,
.wijmo-checkbox .ui-state-focus, 
.wijmo-checkbox .ui-state-active, 
.wijmo-checkbox .ui-state-hover{
	-moz-box-shadow: 0px 0px 5px 1px #CCFF99 !important;
	-webkit-box-shadow: 0px 0px 5px 1px #CCFF99 !important;
	box-shadow: 0px 0px 5px 1px #CCFF99 !important;
	background: url("images/ui-bg_highlight-soft_35_222222_1x100.png") repeat-x scroll 50% top #222222 !important;
	color: #f1f1f1 !important;
}

textarea.wijmo-wijtextbox {
    background-position: center top !important;
}

input[type='text'].ui-state-default,
input[type='password'].ui-state-default,
textarea.ui-state-default {
    color: #bbb;
}

#main .summary,
#main .share-campaign,
#main .donations,
#main .cause-template-info,
fieldset,
#main .get-started .campaign-types li,
#main .get-started .projects .selected,
#main .get-started .campaign-types .selected,
#main .campaign-history,
#main .recipients > ul,
.panel  {
	border-radius: 10px;
	-mox-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-ms-border-radius: 10px;
	border: 1px solid #333333;
	background: #000 url(images/panel-bg.jpg) repeat-x;
	position: relative;
}

#main .recipients > ul {
    width: 390px;
    padding: 20px;
}

    .recipients > ul > li {
        width: 195px;
    }

#main .url {
    border-radius: 10px;
	-mox-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-ms-border-radius: 10px;
	border: 1px solid #333333;
	background: url(images/panel-bg.jpg) repeat-x;
	height: 150px;
}

    #main .url > h2 {
        font-size: 18px;
        color: #659C41;
    }

    #main .campaign-history {
        padding: 30px;
    }

    fieldset, fieldset.column {
        margin: 20px 10px 0px;
    }
    
    fieldset {
        margin-left: 0px;
    }
            
        .validation-summary-errors {
            margin-bottom: 40px;
        }

.grid tbody > tr:hover {
    background: #444;
}

.get-started .campaign-types {
    padding-top: 0px;
}

#main .get-started .projects > p,
#main .get-started .campaign-types > p {
	font-weight: bold;
	color: #999;
}

    #main .get-started .projects .selected a,
    #main .get-started .campaign-types .selected a {
        color: #CCFF99;
    }

	#main .get-started .projects a {
		color: #444;
	}

	#main .get-started .projects a:hover,
	#main .get-started .campaign-types a:hover {
		text-decoration: none;
	}

	.get-started .campaign-types li {
		color: #444;
		height: 300px;
	}
	
	    .get-started .campaign-types li a {
			height: 240px;
		}

		.get-started .campaign-types #birthday a {
			background: url(images/special-occasion.png) no-repeat center -220px;
		}
		
		.get-started .campaign-types #birthday.selected a {
			background: url(images/special-occasion.png) no-repeat center 80px;
		}

		.get-started .campaign-types #sports a {
			background: url(images/sports.png) no-repeat center -220px;
		}
		
		.get-started .campaign-types #sports.selected a {
			background: url(images/sports.png) no-repeat center 80px;
		}

		.get-started .campaign-types #groups a {
			background: url(images/groups.png) no-repeat center -220px;
		}
		
		.get-started .campaign-types #groups.selected a {
			background: url(images/groups.png) no-repeat center 80px;
		}

		.get-started .campaign-types #other a {
			background: url(images/other.png) no-repeat center -220px;
		}
		
		.get-started .campaign-types #other.selected a {
			background: url(images/other.png) no-repeat center 80px;
		}

			.get-started .campaign-types li strong,
			.get-started .campaign-types li span {
				color: #444;
			}
			
			.get-started .campaign-types .selected strong,
			.get-started .campaign-types .selected span {
				color: #CCFF99;
			}
			
	.project-details .infographics {
	    text-align: center;
	}

dd > .meta,
dt > .meta,
#main .reference-number {
    font-size: 12px;
    color: #777;
    font-style: italic;
    display: inline;
}

.pad-bottom {
    margin-bottom: 20px;
}

.wijmo-wijtooltip .wijmo-wijtooltip-title {
	color: #999 !important;
}

.tooltip-instructions a {
    color: #CCFF99;
}
	
.notification {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	background: url("images/ui-bg_inset-soft_20_ffd6a0_1x100.png") repeat-x scroll 50% 50% #FFFF9D;
	border: 1px solid #B68E68;
	color: #333;
	background-position: left bottom;
}

hgroup.thanks > h3 {
    display: none;
}
			
/* OM Footer Style */

    footer {
        height: 90px;
        width: 980px;
        margin: 0px auto;
        padding-bottom: 0px;
    }
    
        footer > div {
            float: left;
            position: relative;
        }
    
    #footer
	{
		height: 80px;
		margin-top: 10px;
	}
	
		#footer > ul > li,
		aside.copyright {
			display: block;
			float: left;
			height: 80px;
			width: 225px;
			border-right: 1px dotted #444444;
			text-align: center;
			position: relative;
		}
		
		aside.copyright {
		    border-left: none;
		    border-right: none;
		    text-align: right;
		    margin-top: 10px
		}
		
		#footer #copy
		{
			border-right: 1px dotted #000000;
		}
		
			#donate, #contact, #news-letter
			{
				display: block;
				text-indent: -1000px;
				margin: 0px auto;
				overflow: hidden;
				font-size: 1px;
			}
		
			#donate
			{
				height: 43px;
				width: 80px;
				background: url('images/donate.gif') no-repeat;
				margin-top: 20px;
			}
			
			#donate:hover
			{
				background: url('images/donate-hover.gif') no-repeat;
			}
			
			#contact
			{
				width: 84px;
				height: 21px;
				background: url('images/contact.gif') no-repeat;
				margin-top: 20px;
			}
			
			#contact:hover
			{
				background: url('images/contact-hover.gif') no-repeat;
			}
			
			#social-networks
			{
				width: 84px;
				height: 21px;
				display: block;
				margin: 0px auto;
				padding-top: 2px;
			}
			
				#social-networks > li,
				#social-networks a
				{
					display: block;
					float: left;
					height: 19px;
					width: 21px;
					text-indent: -1000px;
					overflow: hidden;
				}
				
				#social-networks a
				{
					padding-left: 2px;
					width: 21px;
				}
				
					#facebook
					{
						background: url('images/facebook.gif') no-repeat;
					}
					
					#facebook:hover
					{
						background: url('images/facebook-hover.gif') no-repeat;
					}
					
					#twitter
					{
						background: url('images/twitter.gif') no-repeat;
					}
					
					#twitter:hover
					{
						background: url('images/twitter-hover.gif') no-repeat;
					}
					
					#blogger
					{
						background: url('images/blogger.gif') no-repeat;
					}
					
					#blogger:hover
					{
						background: url('images/blogger-hover.gif') no-repeat;
					}
					
					#youtube
					{
						background: url('images/youtube.gif') no-repeat;
					}
					
					#youtube:hover
					{
						background: url('images/youtube-hover.gif') no-repeat;
					}
		
			#news-letter
			{
				width: 103px;
				height: 21px;
				background: url('images/news.gif') no-repeat;
				margin-top: 20px;
			}
			
			#news-letter:hover
			{
				background: url('images/news-hover.gif') no-repeat;
					}
			
			footer input, footer form
			{
				padding: 0px;
				margin: 0px;
				display: block;
				position: relative;
			}
			
			#footer #form
			{
				margin: 0px auto;
				margin-top: 2px;
				display: block;
				width: 142px;
				height: 22px;
				padding-left: 39px;
			}
			
				#tbEmail
				{
					float: left;
					width: 95px;
					height: 20px;
					background: #444444;
					color: #939393;
					font-family: Georgia, "Times New Roman";
					font-size: 12px;
					border: none;
					padding-left: 7px;
				}
		
				#btnSubmit
				{
					float: left;
					color: #444444;
					font-size: 24px;
					border: none;
					background: none;
					height: 23px;
					margin-top: -5px;
					cursor: pointer;
				}
			
			p.copyright,
			aside.copyright
			{
				font-size: 10px;
				font-family: Arial, Helvetica, Verdana;
				text-align: right;
				line-height: normal;
			}
			
				p.copyright a,
				aside.copyright a
				{
					color: #444444;
				}
				
				p.copyright a:hover,
				aside.copyright a:hover
				{
					color: #ccff99;
				}
	
	footer #contact-bubble
	{
		position: absolute;
		width: 419px;
		height: 190px;
		z-index: 15;
		display: none;
		top: -160px;
		left: 283px;
	}
	
		#contact-bubble > div
		{
			width: 205px;
			position: absolute;
		}
		
		#contact-bubble a
		{
			color: #659C41;
			text-decoration: none;
			display: block;
			padding: 10px 0px;
		}
		
		#contact-bubble a:hover
		{
			text-decoration: underline;
		}
	
		#contact-bubble .top
		{
			height: 12px;
			background: url('images/contact-top.png') no-repeat;
			top: 0px;
		}
		
		#contact-bubble .content
		{
			width: 145px;
			background: #f1f1f1;
			top: 12px;
			font-family: Georgia, "Times New Roman";
			line-height: normal;
			padding: 0px 30px;
		}
			
			.content > .close
			{
				display: block;
				height: 20px;
				width: 20px;
				position: absolute;
				top: 0px;
				right: 10px;
				text-indent: 1000px;
				overflow: hidden;
				background: #f1f1f1 url(images/close.png) no-repeat;
			}
			
			.content > h1
			{
				display: block;
				font-size: 26px;
				font-family: 'LeagueGothicRegular', Impact, Arial, Helvetica;
				color: #4d603a;
				padding: 5px 0px 10px 0px;
			}		
		
			.content > div
			{
				width: 167px;
				float: left;
				height: 154px;
				padding-top: 10px;
			}
			
			.content li
			{
				display: block;
				padding-bottom: 3px;
			}
		
		#contact-bubble .bottom
		{
			height: 29px;
			background: url('images/contact-bottom.png') no-repeat;
			bottom: 0px;
		}
		
/* Donate sidebar css */

#main .donate-form aside,
#main .donate-form aside .sidebar
{
	width: 130px;
	float: right;
	padding: 10px;
}
	
	#main .donate-form .sidebar p
	{
		font-size: 10pt;
		padding: 10px 0px 10px 10px;
		width: 150px
	}
	
#main ul.buttons
{
	margin: 0px;
	padding: 0px;
}

	#main ul.buttons li
	{
		list-style: none !important;
		margin: 0px;
		padding: 10px 0px;
	}

		#mail-donation
		{
			height: 43px;
			width: 139px;
			display: block;
			text-indent: -9000px;
			background: url(images/mail-donation.gif) no-repeat;
		}
	
		#mail-donation:hover
		{
			background: url(images/mail-donation-hover.gif) no-repeat;
		}
	
		#one-hundred-percent
		{
			height: 43px;
			width: 277px;
			display: block;
			text-indent: -9000px;
			background: url(images/100-percent.gif) no-repeat;
		}
	
		#one-hundred-percent:hover
		{
			background: url(images/100-percent-hover.gif) no-repeat;
		}
		
		ul.buttons li
		{
			position: relative;
		}
		
		ul.buttons .bubble
		{
			width: 277px;
			margin: 0px;
			padding: 0px;
			position: absolute;
			bottom: 51px;
			z-index: 15;
			display: none;
		}
		
			.bubble > div
			{
				position: relative;
			}
		
			.bubble .top
			{
				width: 277px;
				height: 13px;
				background: url(images/bubble-top.png) no-repeat;
			}
			
			.bubble .content
			{
				background: #f1f1f1;
				color: #444444;
				width: 217px;
				height: auto;
				font-family: Georgia, "Times New Roman";
				line-height: normal;
				padding: 0px 30px;
			}
			
				.bubble > .content > .close,
				.bubble > .content > .close:hover
				{
					display: block;
					height: 20px;
					width: 20px;
					position: absolute;
					top: 0px;
					right: 10px;
					text-indent: 1000px;
					overflow: hidden;
					background: #f1f1f1 url(images/close.png) no-repeat;
					text-decoration: none;
				}
				
				#main .bubble > .content > h1
				{
					display: block;
					font-size: 26px;
					font-family: 'LeagueGothicRegular', Impact, Arial, Helvetica;
					color: #659C41 !important;
					padding: 5px 0px 10px 0px;
				}
			
				aside .sidebar .bubble .content a
				{
					color: #659C41;
					text-decoration: none;
				}
				
				aside .sidebar .bubble .content a:hover
				{
					text-decoration: underline;
				}
			
			.bubble .bottom
			{
				width: 277px;
				height: 29px;
				background: url(images/bubble-bottom.png) no-repeat;
			}
			
#main .donate-form .column,
.donate-form .column > fieldset {
    width: 300px;
}

#main .donate-form .column .field-validation-error {
    position: relative;
    top: auto;
    left: auto;
    width: 190px;
    margin: 10px 0px 0px;
}

.campaign-summary {
    font-size: 16px;
}

#campaign-email-form .field-validation-error {
    position: absolute;
    width: 230px;
    top: 0px;
    right: 0px;
}

textarea.wijmo-wijtextbox, 
textarea.ui-state-active {
    width: 270px !important;
}


/* Custom home page content */

.steps > li {
    float: left;
    margin: 20px;
    padding: 0px;
    width: 272px;
    height: 190px
}

    .steps > li > p {
        padding: 30px 30px 30px 70px;
        display: block;
    }

.steps > .one {
    margin-left: 0px;
}

    .steps > .one > p {
        background: url(images/one.png) no-repeat 10px 10px;
    }

    .steps > .two > p {
        background: url(images/two.png) no-repeat 10px 10px;
    }

.steps > .three {
    margin-right: 0px;
}

    .steps > .three > p {
        background: url(images/three.png) no-repeat 10px 10px;
    }
    
.how-it-works {
    float: right;
}

/* about page */

.about-page > div {
    width: 900px;
    margin: 0px auto 20px;
    padding: 20px 0px;
}

.about-page > .panel > .how-it-works-1 {
    background: url(images/about-row-1.png) no-repeat;
    height: 444px;
}

.about-page > .panel > .how-it-works-2 {
    background: url(images/about-row-2.png) no-repeat;
    height: 383px;
}

.about-page > .panel > .how-it-works-3 {
    background: url(images/about-row-3.png) no-repeat;
    height: 381px;
}

.about-page > ul > li {
    display: inline-block;
    *display: inline;
    margin-right: 10px;
}