@model JordanRift.Grassroots.Web.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
}

@section DocumentHead
{
    @Html.Partial("UIForm")
}

<h1>Forgot your password? Type your email below...</h1>

@using (Html.BeginForm("ResetPassword", "Account")) {
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
    <input type="submit" name="submit" id="submit" value="Reset My Password" />
}