<?xml version="1.0" encoding="utf-8"?>
<!-- 
		Note: Add entries to the App.config file for configuration settings
		that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <clear />
    <add key="IOrganizationRepository" value="JordanRift.Grassroots.Framework.Data.OrganizationRepository,JordanRift.Grassroots.Framework" />
    <add key="IUserProfileRepository" value="JordanRift.Grassroots.Framework.Data.UserProfileRepository,JordanRift.Grassroots.Framework" />
    <add key="ICampaignRepository" value="JordanRift.Grassroots.Framework.Data.CampaignRepository,JordanRift.Grassroots.Framework" />
    <add key="IUserRepository" value="JordanRift.Grassroots.Framework.Data.UserRepository,JordanRift.Grassroots.Framework" />
    <add key="IRoleRepository" value="JordanRift.Grassroots.Framework.Data.RoleRepository,JordanRift.Grassroots.Framework" />
    <add key="ICauseTemplateRepository" value="JordanRift.Grassroots.Framework.Data.CauseTemplateRepository,JordanRift.Grassroots.Framework" />
    <add key="RepositoryTestMode" value="false" />
    <add key="CacheType" value="Null" />
  </appSettings>
  <connectionStrings>
    <!-- MS SQL Connection -->
    <add name="GrassrootsContext" connectionString="Data Source=(local);Initial Catalog=Grassroots;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!-- 
        Uncomment below for MySQL database connection 
        ** In order to use MySQL with Grassroots, MySQL Connector for .NET v6.3.6 needs to be installed on the server.
        ** Current version of MySQL Connector for .NET is 6.3.6 http://dev.mysql.com/downloads/connector/net/ 
      <add name="GrassrootsContext" connectionString="Server=localhost; Database=Grassroots; Uid=grassrootsuser; Pwd=secret;" providerName="MySql.Data.MySqlClient" /> -->
  </connectionStrings>
  <!-- Uncomment below <system.data> section to use MySQL -->
  <!--<system.data>
  <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.3.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
  </DbProviderFactories>
  </system.data>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.5.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="GrassrootsMembershipProvider">
      <providers>
        <clear />
        <add name="GrassrootsMembershipProvider" type="JordanRift.Grassroots.Framework.Entities.Membership.GrassrootsMembershipProvider, JordanRift.Grassroots.Framework" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" connectionStringName="GrassrootsContext" applicationName="/Grassroots" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="GrassrootsRoleProvider">
      <providers>
        <clear />
        <add name="GrassrootsRoleProvider" type="JordanRift.Grassroots.Framework.Entities.Membership.GrassrootsRoleProvider, JordanRift.Grassroots.Framework" connectionStringName="GrassrootsContext" applicationName="/Grassroots" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>