@model JordanRift.Grassroots.Web.Models.OrganizationStatsModel
@{
    //
    // Grassroots is free software: you can redistribute it and/or modify
    // it under the terms of the GNU General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    // 
    // Grassroots is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    // 
    // You should have received a copy of the GNU General Public License
    // along with Grassroots.  If not, see <http://www.gnu.org/licenses/>.
    //

    Layout = null;
}
       
       <ul class="stats break">
            <li class="first"><span>@Model.ProjectsCompleted</span> Houses Built</li> @* TODO: Figure out best way to localize this label *@
            <li><span>@Model.DollarsRaised.ToString("C")</span> Dollars Raised</li>
            <li><span>@Model.Donations</span> Donations</li>
            <li class="last"><span>@Model.HoursServed</span> Hours Volunteered</li>
        </ul>