@{
    ViewBag.Title = "Terms & Conditions";
}

<hgroup>
    <h1>Terms &amp; Conditions</h1>
</hgroup>

<section class="terms">
    <strong class="first">Project Location</strong>
    <p>We cannot allow campaigners to designate the location in which their project(s) will be built. Once we receive
    complete funding for a project through a campaign, we work with our partners in the field to  build the project(s).</p>

    <strong>Linked Websites</strong>
    <p>Our website contains links to other websites. Wen you click on one of these links you are entering another webite for
    which @OrganizationName has no responsibility. Please read the privacy statements on all websites as their policies
    could be different than ours.</p>

    <strong>Usage by Children</strong>
    <p>In accordance with the Federal Children's Online Privacy Protection Act of 1998 (COPPA), you must be 13 years or
    older to use the @OrganizationName website. By registering an account on our website, you represent and warrant that you
    are 13 or older.</p>

    <strong>Data Security</strong>
    <p>All sensitive data provided to @OrganizationName is transmitted using SSL (Secure Socket Layer) encryption. SSL
    is a proven security system that lets your browser automatically encrypt data before you send it to us.</p>

    <strong>Recognition Agreement</strong>
    <p>Any personal information collected on @OrganizationName's website is for the sole purpose of the organization and may
    be used to communicate project updates and results of work supported.</p>

    <strong>Contact and Profile Data</strong>
    <p>@OrganizationName does not transmit, transfer or sell private information of any third parties. You should provide true,
    accurate and complete registraiton information. As part of the registration process, you will be asked to select a username
    and password and you will be responsible for all activities occurring under your username and for keeping your password
    secure. We may refuse to grant you a username that impersonates someone else, is or may be protected by a trademark or 
    proprietary rights law, or is vulgar, offensive or otherwise inappropriate as determined by @OrganizationName in its sole 
    discretion.</p>
</section>