/.svn/
/_ReSharper.JordanRift.Grassroots/
/JordanRift.Grassroots.5.0.ReSharper.user
/JordanRift.Grassroots.5.1.ReSharper.user
/JordanRift.Grassroots.suo
/_ReSharper.AppHarbor/
/AppHarbor.5.1.ReSharper.user
/AppHarbor.suo
/*.Grassroots.sln.docstates
/*.suo
/_ReSharper.Azure/
/*.sln.docstates
/*.5.1.ReSharper.user
